.form-create-new-collection{
  margin-bottom: 20px;
}
.link-collection-items-user{
  text-decoration: none;
  color:revert;
}
.title-my-collection{
  margin-bottom: 20px;
}

.field-add-new-collection{
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
}
