.form-create-new-collection{
  margin-bottom: 20px;
}
.link-collection-items-user{
  text-decoration: none;
  color:revert;
}
.title-my-collection{
  margin-bottom: 20px;
}

.field-add-new-collection{
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.collection-user{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


@media screen and (max-width: 420px){
  .title-create-collection-dashboard{
    font-size: 1.1rem !important;
  }
  .collection-user{
    font-size: 0.8rem;
  }
}

