.nav-bar {
  padding: 10px 0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.8;
  }
}

.search-bar{
  margin-bottom: 5px;
}

.avatar-user{
  width: 50px!important;
  height: 50px!important;
  padding: 0 10px;
}

.buttons {
  display: flex;
  align-items: center;

  .btn-header {
    margin-left: 20px;
  }

  a {
    text-decoration: none;
  }
}
.result-item-researched{
  text-decoration: none;
}

@media screen and (max-width: 932px){
  .buttons{
    margin-top:5px;
  }
}

@media screen and (max-width: 780px){
  .buttons{
    margin-top:5px;
  }

  .btn-header{
    font-size: 0.7rem !important;
    width: 100px;
  }
}


